.container-fluid{
    border: 2px dashed black;
    height: 500px;
}
.container{
    border: 2px dashed yellowgreen;
}

.my-brd{
    border: 1px dashed goldenrod;
}
.my-brd-2{
    border: 1px dashed red;
}
.my-image{
    border: 1px solid royalblue;
    /* height: 100px;
    width: 150px; */
}
section{
    border: 1px dashed gray;
    /* height: 500px; */
}

.my-head-col{
    height: 100px;
}



@media screen and ( max-width: 576px){    
    .my-min{
        background-color: red;
        min-width: 100px;
        max-width: 100PX;
    }
    
}
