.container-fluid{
    border: 2px dashed black;
    
}
.container{
    border: 2px dashed yellowgreen;
}

.my-brd{
    border: 1px dashed goldenrod;
}
.my-brd-2{
    border: 1px dashed red;
}
.my-image{
    border: 1px solid royalblue;
    /* height: 100px;
    width: 150px; */
}
section{
    border: 1px dashed gray;
    /* height: 500px; */
}

.my-head-col{
    /* height: 150px; */
}



/*! regole ok */

#icon-header-top-sony{
    height: 15px;
}
.fas{
    font-size: 1.5em;
}
#jumbo-1{
    margin-top: 7rem;
    height: 675px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#jumbo-2{
    height: 675px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#text-jumbo-1{
 color: white;
}
#btn-sell-now{
    background-color: tomato;
}
#returnal-logo{
    width: 100%;
}
img{
    max-width: 100%;
}
